* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1290px;
}

header {
  height: 118px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

header h2 {
  font-size: 2.813rem;
  margin-bottom: 20px;
}

header p {
  font-size: 1.5rem;
}

main {
  height: 860px;
  border-radius: 20px;
  background-color: #242424;
  text-align: center;
}

.main {
  display: flex;
  margin-bottom: 150px;
}

.leftRightGradient {
  background: -webkit-linear-gradient(left, #30b5ff, #5434b0);
  background: -o-linear-gradient(right, #30b5ff, #5434b0);
  background: -moz-linear-gradient(right, #30b5ff, #5434b0);
  background: linear-gradient(to right, #30b5ff, #5434b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.herobox1 {
  width: 50%;
  height: 580px;
}

.herobox2 {
  width: 50%;
  height: 580px;
  outline: 1px solid #999;
  border-radius: 15px;
  margin-top: 30px;
  margin-right: 10px;
}

.nextbutton {
  background: linear-gradient(to left, #5434b0, #ba84ff);
  color: #ffffff;
  padding: 20px 300px 20px 300px;
  border-radius: 6px;
  font-size: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 4fr;
  grid-gap: 0px;
}

.inputWrapper {
  text-align: left;
}

.inputLabel {
  margin: 30px 0px 0px 30px;
  font-size: 1.2rem;
}

.radioGruop {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns for radio buttons */
  gap: 10px; /* Space between radio buttons */
  align-items: center; /* Center the items vertically */

  text-align: left;
  outline: 1px solid #999;
  border-radius: 15px;
  margin: 10px 20px 0px 20px;
}

input[type='radio'] {
  margin: 20px 10px 20px 40px;
  accent-color: blue;
  border-radius: 50%;
  border: 3px solid #fff;
  transform: scale(1.5);
}

input[type='text'] {
  padding: 20px 20px 20px 20px;
  margin: 10px 20px 0px 20px;
  border-radius: 15px;
  font-size: 1.1rem;
}

textarea {
  padding: 40px 20px 20px 20px;
  margin: 10px 20px 0px 20px;
  border-radius: 15px;
  font-size: 1.1rem;
}
